In [2]:
# Initialize the workspace
from pymongo import MongoClient
import pprint
from bs4 import BeautifulSoup
import requests
import pandas as pd
import time
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')

In [3]:
#Connect w/ Mongo 
client = MongoClient('localhost', 27017)
db = client['states']
#alaska = db['Alaska']

In [6]:
#alaska.insert_one({'test': 'testy'})

In [4]:
#attempt to scrape EIA webpage for states providing flaring / productioninfo

main_flare_url = 'https://www.eia.gov/dnav/ng/ng_prod_sum_a_EPG0_VGV_mmcf_a.htm'
r = requests.get(main_flare_url)

In [6]:
type(r)

requests.models.Response

In [7]:
r.status_code

200

In [9]:
pprint.pprint(r.text)

('<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">\r\n'
 '\r\n'
 '<html>\r\n'
 '<head>\r\n'
 '\t<title>Natural Gas Vented and Flared </title>\r\n'
 '\t<meta name="robots" content="index, follow">\r\n'
 '    <meta http-equiv="X-UA-Compatible" content="IE=9" />\r\n'
 '\t\t<link rel="StyleSheet" href="Styles/ng_wrapper3.css" TYPE="text/css">\r\n'
 '\t\t<link rel="StyleSheet" href="Styles/ng_data4.css" TYPE="text/css">\r\n'
 '\t\t<link rel="StyleSheet" href="Styles/Nav_Print.css" TYPE="text/css" '
 'media="print">\r\n'
 '\t    <link rel="stylesheet" href="/styles/Eia_sitewideF.css" '
 'type="text/css" />\t\t\t\t\r\n'
 '\t\t\r\n'
 ' <NOSCRIPT>\r\n'
 '\t  <H3>This page uses JavaScipt</H3>\r\n'
 '\t  <ul>\r\n'
 '\t  <li>Please use Internet Explorer 3+ or Netscape Navigator 3+\r\n'
 '\t  <li>Make sure that JavaScript is enabled in your browser\r\n'
 '\t  </ul>\r\n'
 '  </NOSCRIPT>\r\n'
 '  \r\n'
 '  <!-- Header Script -->\r\n'
 '    <script language="JavaScript" src="/styles/eia_header.js" '
 'type="text/javascript"></script>\r\n'
 '  <!--/ Header Script -->\r\n'
 '  <script src="/global/includes/dnavs/leaf_handler.cfm" '
 'type="text/javascript"></script>\r\n'
 '  <!-- Footer Script -->\r\n'
 '    <script src="/styles/eia_footer.js" type="text/javascript"></script>\r\n'
 '  <!--/ Footer Script -->  \r\n'
 '   \t\r\n'
 '\n'
 '                    <script>var '
 'w=window;if(w.performance||w.mozPerformance||w.msPerformance||w.webkitPerformance){var '
 'd=document;AKSB=w.AKSB||{},AKSB.q=AKSB.q||[],AKSB.mark=AKSB.mark||function(e,_){AKSB.q.push(["mark",e,_||(new '
 'Date).getTime()])},AKSB.measure=AKSB.measure||function(e,_,t){AKSB.q.push(["measure",e,_,t||(new '
 'Date).getTime()])},AKSB.done=AKSB.done||function(e){AKSB.q.push(["done",e])},AKSB.mark("firstbyte",(new '
 'Date).getTime()),AKSB.prof={custid:"421524",ustr:"",originlat:"0",clientrtt:"4",ghostip:"23.56.172.31",ipv6:false,pct:"10",clientip:"3.85.176.47",requestid:"31d6e72e",region:"33506",protocol:"",blver:14,akM:"dscb",akN:"ae",akTT:"O",akTX:"1",akTI:"31d6e72e",ai:"269977",ra:"false",pmgn:"",pmgi:"",pmp:"",qc:""},function(e){var '
 '_=d.createElement("script");_.async="async",_.src=e;var '
 't=d.getElementsByTagName("script"),t=t[t.length-1];t.parentNode.insertBefore(_,t)}(("https:"===d.location.protocol?"https:":"http:")+"//ds-aksb-a.akamaihd.net/aksb.min.js")}</script>\n'
 '                    </head>\r\n'
 '\r\n'
 '<body>\r\n'
 '\r\n'
 ' \r\n'
 ' <script language="JavaScript" '
 'type="text/javascript">InsertEIAHeaderCode();</script>\r\n'
 ' \r\n'
 '<!-- Start of Title Line/Section Header -->\r\n'
 '<table width="760" border="0" cellspacing="0" cellpadding="0">\r\n'
 '<tr>\r\n'
 '  <td width="760" align="left" valign="top">\r\n'
 '    <table width="760" border="0" cellspacing="0" cellpadding="0" '
 'align="left" class="TopicBar">\r\n'
 '    <tr>\r\n'
 '\t  <td height="8" colspan="2"></td>\r\n'
 '\t</tr>    \r\n'
 '\t<tr>\r\n'
 '\t  <td width="12"></td>\r\n'
 '      <td width="748" class="TopLabel2">\r\n'
 '\t    Natural Gas Gross Withdrawals and Production\r\n'
 '\t  </td>\r\n'
 '    </tr>\r\n'
 '\t<tr>\r\n'
 '\t  <td></td>\r\n'
 '      <td class="TitleUnit">(Volumes in Million Cubic Feet)</td>\r\n'
 '    </tr>\r\n'
 '    <tr>\r\n'
 '\t  <td height="3" colspan="2"></td>\r\n'
 '\t</tr> \t\t\r\n'
 '\t</table>\r\n'
 '  </td>\r\n'
 '</tr>\r\n'
 '<tr>\r\n'
 '  <td>\t\r\n'
 '      <!-- Start of 1 Dropdown case -->\r\n'
 '  <table border="0" cellspacing="0" cellpadding="0" align="left" '
 'class="UserBar">\r\n'
 '            <tr>\r\n'
 '              <td colspan="11" height="8"></td>\r\n'
 '            </tr>\r\n'
 '\t\t    <tr>\r\n'
 '              <td width="20"></td>\r\n'
 '\t\t      <td align="right" class="LabelA">Data Series:</td>\r\n'
 '\t\t\t  <td width="5"><img src="img/spacer_transp.gif" alt="" width="1" '
 'height="1" border="0"></td>\r\n'
 '\t\t      <td>\r\n'
 '\t\t\t    <select class="B" name="Drop1" width="264" style="width: 264;"\r\n'
 '\t\t\t\t\t'
 'ONCHANGE="window.open(this.options[this.selectedIndex].value,\'_top\')">\r\n'
 '\t\t\t\t\t<option value="ng_prod_sum_a_EPG0_FGW_mmcf_a.htm"> Gross '
 'Withdrawals\r\n'
 '<option value="ng_prod_sum_a_EPG0_FGG_mmcf_a.htm"> &nbsp;&nbsp;&nbsp;Gross '
 'Withdrawals from Gas Wells\r\n'
 '<option value="ng_prod_sum_a_EPG0_FGO_mmcf_a.htm"> &nbsp;&nbsp;&nbsp;Gross '
 'Withdrawals from Oil Wells\r\n'
 '<option value="ng_prod_sum_a_EPG0_FGS_mmcf_a.htm"> &nbsp;&nbsp;&nbsp;Gross '
 'Withdrawals from Shale Gas Wells\r\n'
 '<option value="ng_prod_sum_a_EPG0_FGC_mmcf_a.htm"> &nbsp;&nbsp;&nbsp;Gross '
 'Withdrawals from Coalbed Wells\r\n'
 '<option value="ng_prod_sum_a_EPG0_VGQ_mmcf_a.htm"> Repressuring\r\n'
 '<option value="ng_prod_sum_a_EPG0_VGV_mmcf_a.htm" SELECTED> Vented and '
 'Flared\r\n'
 '<option value="ng_prod_sum_a_EPG0_VRN_mmcf_a.htm"> Nonhydrocarbon Gases '
 'Removed\r\n'
 '<option value="ng_prod_sum_a_EPG0_VGM_mmcf_a.htm"> Marketed Production\r\n'
 '<option value="ng_prod_sum_a_EPG0_VG9_mmcf_a.htm"> NGPL Production, Gaseous '
 'Equivalent\r\n'
 '<option value="ng_prod_sum_a_EPG0_FPD_mmcf_a.htm"> Dry Production\r\n'
 '\r\n'
 '\t\t\t\t</select>\r\n'
 '\t\t\t  </td>\r\n'
 '              <td width="25"></td>\t\t\t  \r\n'
 '                \t\t      <td align="right" '
 'class="LabelA">Period-Unit:</td>\r\n'
 '\t\t\t  <td width="5"><img src="img/spacer_transp.gif" alt="" width="1" '
 'height="1" border="0"></td>\r\n'
 '\t\t      <td>\r\n'
 '\t            <select name="DropF" class="C" style="width: 200;" '
 'width="200"\r\n'
 '\t\t\t\t '
 'ONCHANGE="window.open(this.options[this.selectedIndex].value,\'_top\')">\r\n'
 '\t\t\t\t  <option value="ng_prod_sum_a_EPG0_VGV_mmcf_m.htm"> Monthly-Million '
 'Cubic Feet\r\n'
 '<option value="ng_prod_sum_a_EPG0_VGV_mmcf_a.htm" SELECTED> Annual-Million '
 'Cubic Feet\r\n'
 '\r\n'
 '\t            </select>\t \r\n'
 '\t\t\t  </td>\r\n'
 '              <td width="5"></td>\r\n'
 '\t\t      <td align="right" class="LabelA"></td>\r\n'
 '\t\t\t  <td width="5"><img src="img/spacer_transp.gif" alt="" width="1" '
 'height="1" border="0"></td>\r\n'
 '\t\t      <td>\r\n'
 '\t\t\t\t\t    \r\n'
 '\t\t\t  </td>\t\t\r\n'
 '\t\t\t<tr>\r\n'
 '\t\t\t  <td height="12" colspan="11"></td>\r\n'
 '\t\t\t</tr>\r\n'
 '\r\n'
 '\t\t  </table>\r\n'
 '         <!-- End of Drop-downs --> \r\n'
 '  </td>\r\n'
 '</tr> \r\n'
 '\r\n'
 '</table>\r\n'
 '\r\n'
 '   <!-- End of Title Line/Section Header -->\t\r\n'
 '  \r\n'
 '\t    <!--Start of Inner Data Table -->\r\n'
 '\t\t  <table width="760" border="0" class="data1">\r\n'
 '\t\t  <tr>\r\n'
 '\t\t    <th colspan="11" align="left">\r\n'
 '\t\t\t  <div id="tlinks" name="tlinks"> \t\t\r\n'
 '\t\t        <table border="0" cellspacing="1" cellpadding="0" '
 'class="data2">\r\n'
 '\t\t        <tr>\r\n'
 '\t\t\t\t  <td width="15"></td>\r\n'
 '\t\t          <td align="center">\r\n'
 '\t\t\t      <a href="./xls/NG_PROD_SUM_A_EPG0_VGV_MMCF_A.xls" '
 'class="reg">\r\n'
 '                    <img src="img/Excel_Hist3.jpg" width="21" height="19" '
 'alt="Download Series History" border="0"></a></td>\r\n'
 '\t\t          <td width="2"></td>         \r\n'
 '\t\t\t\t  <td align="left" valign="middle" class="Info">\r\n'
 '\t\t          <a class="crumb" '
 'href="./xls/NG_PROD_SUM_A_EPG0_VGV_MMCF_A.xls">Download Series '
 'History</a></td>  \t\t  \r\n'
 '\t\t\t\t  <td width="20"></td>        \r\n'
 '\t\t\t\t  <td width="21" align="center"><a '
 'href="TblDefs/ng_prod_sum_tbldef2.asp">\r\n'
 '                    <img src="img/Notes_Icon1.jpg" alt="Definitions, Sources '
 '& Notes" width="21" height="19" border="0"></a></td>\r\n'
 '\t\t          <td width="1"></td>\r\n'
 '\t\t\t\t  <td align="left" valign="middle" class="Info">\r\n'
 '\t\t          <a class="crumb" '
 'href="TblDefs/ng_prod_sum_tbldef2.asp">Definitions, Sources & '
 'Notes</a></td>\r\n'
 '\t\t        </tr>\r\n'
 '\t\t        </table>\t\t\t\r\n'
 '\t\t  </div>\t\t\t\r\n'
 '\t\t\t</th>\r\n'
 '\t\t  </tr>\r\n'
 '\t\t\r\n'
 '          <tr>\r\n'
 '  \t        <th class="Series">\r\n'
 '\r\n'
 '\t\t\t               <table border="0" cellspacing="0" cellpadding="0" '
 'align="left" class="data2">\r\n'
 '\t          <tr>\r\n'
 '\t\t        <td colspan="8" class="ViewLabel">&nbsp;Show Data By:</td>\r\n'
 '\t\t      </tr>\r\n'
 '\t          <tr>\r\n'
 '\t\t        <td height="3" colspan="8"></td>\r\n'
 '\t\t      </tr>\t\t\t          \r\n'
 '\t\t\t  <tr align="left">\t\r\n'
 '                <td width="10"><img src="img/spacer_transp.gif" alt="" '
 'width="1" height="1" border="0"></td>\r\n'
 '                <td align="left">\r\n'
 '\t\t   \t      <a href="ng_prod_sum_dc_NUS_MMCF_m.htm"><img '
 'src="img/Radio_I9.jpg" alt="" width="13" height="13" border="0"></a></td>\r\n'
 '                <td width="5"><img src="img/spacer_transp.gif" alt="" '
 'width="1" height="1" border="0"></td>\r\n'
 '                <td class="LabelB"><a href="ng_prod_sum_dc_NUS_MMCF_m.htm" '
 'class="NavChunkA">Data Series</a></td>\r\n'
 '                <td width="15"><img src="img/spacer_transp.gif" alt="" '
 'width="1" height="1" border="0"></td>\r\n'
 '                <td align="left">\r\n'
 '\t\t          <a href="ng_prod_sum_a_EPG0_FGW_mmcf_m.htm"><img '
 'src="img/Radio_A9.jpg" alt="" width="13" height="13" border="0"></a></td>\r\n'
 '                <td width="5"><img src="img/spacer_transp.gif" alt="" '
 'width="1" height="1" border="0"></td>\r\n'
 '                <td class="LabelB">\r\n'
 '\t\t\t\t  <a href="ng_prod_sum_a_EPG0_FGW_mmcf_m.htm" '
 'class="NavChunkA">Area</a></td>\r\n'
 '\t            <td width="20"><img src="img/spacer_transp.gif" alt="" '
 'width="1" height="1" border="0"></td>\t\r\n'
 '              </tr>\r\n'
 '\t\t      <tr>\r\n'
 '\t\t        <td height="2" colspan="8"></td>\r\n'
 '\t\t      </tr>\r\n'
 '              </table>\t\r\n'
 '\t         <img src="img/spacer_transp.gif" alt="" width="1" height="1" '
 'border="0">\r\n'
 '\t         </th> \t\r\n'
 '\t\t\t \t\t \r\n'
 '\t\t\t     <th class="Series5">2013</th>\r\n'
 '    <th class="Series5">2014</th>\r\n'
 '    <th class="Series5">2015</th>\r\n'
 '    <th class="Series5">2016</th>\r\n'
 '    <th class="Series5">2017</th>\r\n'
 '    <th class="Series5">2018</th>\r\n'
 '    <th class="Cross">View<br>History</th>  \r\n'
 '</tr>\r\n'
 '\t\t\t \t\t<tr class="DataRow">\r\n'
 '\t\t\t<td width="228" class="DataStub">\r\n'
 '\t\t\t\t<table border="0" cellspacing="0" cellpadding="0" class="data2">\r\n'
 '\t\t\t\t\t<tr>\r\n'
 '\t\t\t\t\t\t<td width="3"></td>\r\n'
 '\t\t\t\t\t\t<td class="DataStub1"><B>U.S.<B></td>\r\n'
 '\t\t\t\t\t</tr>\r\n'
 '\t\t\t\t</table>\r\n'
 '\t\t\t</td>\r\n'
 '\t\t\t<td width="76" class="DataB">260,394</td>\r\n'
 '\t\t\t<td width="76" class="DataB">293,916</td>\r\n'
 '\t\t\t<td width="76" class="DataB">289,545</td>\r\n'
 '\t\t\t<td width="76" class="DataB">230,410</td>\r\n'
 '\t\t\t<td width="76" class="DataB">NA</td>\r\n'
 '\t\t\t<td width="76" class="Current2">468,347</td>\r\n'
 '\t\t\t<td width="76" class="DataHist"><a href="./hist/n9040us2a.htm" '
 'class="Hist">1936-2018</a></td>\t\t\t\t\r\n'
 '\t\t</tr>\r\n'
 '\t\t<tr class="DataRow">\r\n'
 '\t\t\t<td width="228" class="DataStub">\r\n'
 '\t\t\t\t<table border="0" cellspacing="0" cellpadding="0" class="data2">\r\n'
 '\t\t\t\t\t<tr>\r\n'
 '\t\t\t\t\t\t<td width="3"></td>\r\n'
 '\t\t\t\t\t\t<td class="DataStub1">Alaska</td>\r\n'
 '\t\t\t\t\t</tr>\r\n'
 '\t\t\t\t</table>\r\n'
 '\t\t\t</td>\r\n'
 '\t\t\t<td width="76" class="DataB">7,219</td>\r\n'
 '\t\t\t<td width="76" class="DataB">6,554</td>\r\n'
 '\t\t\t<td width="76" class="DataB">5,385</td>\r\n'
 '\t\t\t<td width="76" class="DataB">8,541</td>\r\n'
 '\t\t\t<td width="76" class="DataB">7,605</td>\r\n'
 '\t\t\t<td width="76" class="Current2">8,210</td>\r\n'
 '\t\t\t<td width="76" class="DataHist"><a href="./hist/n9040ak2a.htm" '
 'class="Hist">1967-2018</a></td>\t\t\t\t\r\n'
 '\t\t</tr>\r\n'
 '\t\t<tr class="DataRow">\r\n'
 '\t\t\t<td width="228" class="DataStub">\r\n'
 '\t\t\t\t<table border="0" cellspacing="0" cellpadding="0" class="data2">\r\n'
 '\t\t\t\t\t<tr>\r\n'
 '\t\t\t\t\t\t<td width="23"></td>\r\n'
 '\t\t\t\t\t\t<td class="DataStub1">Alaska Onshore</td>\r\n'
 '\t\t\t\t\t</tr>\r\n'
 '\t\t\t\t</table>\r\n'
 '\t\t\t</td>\r\n'
 '\t\t\t<td width="76" class="DataB">5,670</td>\r\n'
 '\t\t\t<td width="76" class="DataB">5,779</td>\r\n'
 '\t\t\t<td width="76" class="DataB">4,755</td>\r\n'
 '\t\t\t<td width="76" class="DataB">7,557</td>\r\n'
 '\t\t\t<td width="76" class="DataB">6,739</td>\r\n'
 '\t\t\t<td width="76" class="Current2">7,229</td>\r\n'
 '\t\t\t<td width="76" class="DataHist"><a href="./hist/na1130_rako_2a.htm" '
 'class="Hist">1992-2018</a></td>\t\t\t\t\r\n'
 '\t\t</tr>\r\n'
 '\t\t<tr class="DataRow">\r\n'
 '\t\t\t<td width="228" class="DataStub">\r\n'
 '\t\t\t\t<table border="0" cellspacing="0" cellpadding="0" class="data2">\r\n'
 '\t\t\t\t\t<tr>\r\n'
 '\t\t\t\t\t\t<td width="23"></td>\r\n'
 '\t\t\t\t\t\t<td class="DataStub1">Alaska State Offshore</td>\r\n'
 '\t\t\t\t\t</tr>\r\n'
 '\t\t\t\t</table>\r\n'
 '\t\t\t</td>\r\n'
 '\t\t\t<td width="76" class="DataB">1,549</td>\r\n'
 '\t\t\t<td width="76" class="DataB">776</td>\r\n'
 '\t\t\t<td width="76" class="DataB">630</td>\r\n'
 '\t\t\t<td width="76" class="DataB">984</td>\r\n'
 '\t\t\t<td width="76" class="DataB">866</td>\r\n'
 '\t\t\t<td width="76" class="Current2">981</td>\r\n'
 '\t\t\t<td width="76" class="DataHist"><a href="./hist/na1130_raksf_2a.htm" '
 'class="Hist">1992-2018</a></td>\t\t\t\t\r\n'
 '\t\t</tr>\r\n'
 '\t\t<tr class="DataRow">\r\n'
 '\t\t\t<td width="228" class="DataStub">\r\n'
 '\t\t\t\t<table border="0" cellspacing="0" cellpadding="0" class="data2">\r\n'
 '\t\t\t\t\t<tr>\r\n'
 '\t\t\t\t\t\t<td width="3"></td>\r\n'
 '\t\t\t\t\t\t<td class="DataStub1">Arkansas</td>\r\n'
 '\t\t\t\t\t</tr>\r\n'
 '\t\t\t\t</table>\r\n'
 '\t\t\t</td>\r\n'
 '\t\t\t<td width="76" class="DataB">0</td>\r\n'
 '\t\t\t<td width="76" class="DataB">NA</td>\r\n'
 '\t\t\t<td width="76" class="DataB">0</td>\r\n'
 '\t\t\t<td width="76" class="DataB">NA</td>\r\n'
 '\t\t\t<td width="76" class="DataB">0</td>\r\n'
 '\t\t\t<td width="76" class="Current2">0</td>\r\n'
 '\t\t\t<td width="76" class="DataHist"><a href="./hist/n9040ar2a.htm" '
 'class="Hist">1967-2018</a></td>\t\t\t\t\r\n'
 '\t\t</tr>\r\n'
 '\t\t<tr class="DataRow">\r\n'
 '\t\t\t<td width="228" class="DataStub">\r\n'
 '\t\t\t\t<table border="0" cellspacing="0" cellpadding="0" class="data2">\r\n'
 '\t\t\t\t\t<tr>\r\n'
 '\t\t\t\t\t\t<td width="3"></td>\r\n'
 '\t\t\t\t\t\t<td class="DataStub1">California</td>\r\n'
 '\t\t\t\t\t</tr>\r\n'
 '\t\t\t\t</table>\r\n'
 '\t\t\t</td>\r\n'
 '\t\t\t<td width="76" class="DataB">0</td>\r\n'
 '\t\t\t<td width="76" class="DataB">NA</td>\r\n'
 '\t\t\t<td width="76" class="DataB">0</td>\r\n'
 '\t\t\t<td width="76" class="DataB">NA</td>\r\n'
 '\t\t\t<td width="76" class="DataB">0</td>\r\n'
 '\t\t\t<td width="76" class="Current2">0</td>\r\n'
 '\t\t\t<td width="76" class="DataHist"><a href="./hist/n9040ca2a.htm" '
 'class="Hist">1967-2018</a></td>\t\t\t\t\r\n'
 '\t\t</tr>\r\n'
 '\t\t<tr class="DataRow">\r\n'
 '\t\t\t<td width="228" class="DataStub">\r\n'
 '\t\t\t\t<table border="0" cellspacing="0" cellpadding="0" class="data2">\r\n'
 '\t\t\t\t\t<tr>\r\n'
 '\t\t\t\t\t\t<td width="23"></td>\r\n'
 '\t\t\t\t\t\t<td class="DataStub1">California Onshore</td>\r\n'
 '\t\t\t\t\t</tr>\r\n'
 '\t\t\t\t</table>\r\n'
 '\t\t\t</td>\r\n'
 '\t\t\t<td width="76" class="DataB">NA</td>\r\n'
 '\t\t\t<td width="76" class="DataB">NA</td>\r\n'
 '\t\t\t<td width="76" class="DataB">NA</td>\r\n'
 '\t\t\t<td width="76" class="DataB">NA</td>\r\n'
 '\t\t\t<td width="76" class="DataB">NA</td>\r\n'
 '\t\t\t<td width="76" class="Current2">NA</td>\r\n'
 '\t\t\t<td width="76" class="DataHist"><a href="./hist/na1130_rcao_2a.htm" '
 'class="Hist">1992-2018</a></td>\t\t\t\t\r\n'
 '\t\t</tr>\r\n'
 '\t\t<tr class="DataRow">\r\n'
 '\t\t\t<td width="228" class="DataStub">\r\n'
 '\t\t\t\t<table border="0" cellspacing="0" cellpadding="0" class="data2">\r\n'
 '\t\t\t\t\t<tr>\r\n'
 '\t\t\t\t\t\t<td width="43"></td>\r\n'
 '\t\t\t\t\t\t<td class="DataStub1">California State Offshore</td>\r\n'
 '\t\t\t\t\t</tr>\r\n'
 '\t\t\t\t</table>\r\n'
 '\t\t\t</td>\r\n'
 '\t\t\t<td width="76" class="DataB">NA</td>\r\n'
 '\t\t\t<td width="76" class="DataB">NA</td>\r\n'
 '\t\t\t<td width="76" class="DataB">NA</td>\r\n'
 '\t\t\t<td width="76" class="DataB">NA</td>\r\n'
 '\t\t\t<td width="76" class="DataB">0</td>\r\n'
 '\t\t\t<td width="76" class="Current2">0</td>\r\n'
 '\t\t\t<td width="76" class="DataHist"><a href="./hist/na1130_rcasf_2a.htm" '
 'class="Hist">2003-2018</a></td>\t\t\t\t\r\n'
 '\t\t</tr>\r\n'
 '\t\t<tr class="DataRow">\r\n'
 '\t\t\t<td width="228" class="DataStub">\r\n'
 '\t\t\t\t<table border="0" cellspacing="0" cellpadding="0" class="data2">\r\n'
 '\t\t\t\t\t<tr>\r\n'
 '\t\t\t\t\t\t<td width="43"></td>\r\n'
 '\t\t\t\t\t\t<td class="DataStub1">Federal Offshore California</td>\r\n'
 '\t\t\t\t\t</tr>\r\n'
 '\t\t\t\t</table>\r\n'
 '\t\t\t</td>\r\n'
 '\t\t\t<td width="76" class="DataB">&nbsp;</td>\r\n'
 '\t\t\t<td width="76" class="DataB">NA</td>\r\n'
 '\t\t\t<td width="76" class="DataB">NA</td>\r\n'
 '\t\t\t<td width="76" class="DataB">&nbsp;</td>\r\n'
 '\t\t\t<td width="76" class="DataB">NA</td>\r\n'
 '\t\t\t<td width="76" class="Current2">0</td>\r\n'
 '\t\t\t<td width="76" class="DataHist"><a href="./hist/na1130_r5f_2a.htm" '
 'class="Hist">2003-2018</a></td>\t\t\t\t\r\n'
 '\t\t</tr>\r\n'
 '\t\t<tr class="DataRow">\r\n'
 '\t\t\t<td width="228" class="DataStub">\r\n'
 '\t\t\t\t<table border="0" cellspacing="0" cellpadding="0" class="data2">\r\n'
 '\t\t\t\t\t<tr>\r\n'
 '\t\t\t\t\t\t<td width="3"></td>\r\n'
 '\t\t\t\t\t\t<td class="DataStub1">Colorado</td>\r\n'
 '\t\t\t\t\t</tr>\r\n'
 '\t\t\t\t</table>\r\n'
 '\t\t\t</td>\r\n'
 '\t\t\t<td width="76" class="DataB">0</td>\r\n'
 '\t\t\t<td width="76" class="DataB">NA</td>\r\n'
 '\t\t\t<td width="76" class="DataB">0</td>\r\n'
 '\t\t\t<td width="76" class="DataB">2,620</td>\r\n'
 '\t\t\t<td width="76" class="DataB">4,279</td>\r\n'
 '\t\t\t<td width="76" class="Current2">5,097</td>\r\n'
 '\t\t\t<td width="76" class="DataHist"><a href="./hist/n9040co2a.htm" '
 'class="Hist">1967-2018</a></td>\t\t\t\t\r\n'
 '\t\t</tr>\r\n'
 '\t\t<tr class="DataRow">\r\n'
 '\t\t\t<td width="228" class="DataStub">\r\n'
 '\t\t\t\t<table border="0" cellspacing="0" cellpadding="0" class="data2">\r\n'
 '\t\t\t\t\t<tr>\r\n'
 '\t\t\t\t\t\t<td width="3"></td>\r\n'
 '\t\t\t\t\t\t<td class="DataStub1">Federal Offshore Gulf of Mexico</td>\r\n'
 '\t\t\t\t\t</tr>\r\n'
 '\t\t\t\t</table>\r\n'
 '\t\t\t</td>\r\n'
 '\t\t\t<td width="76" class="DataB">14,619</td>\r\n'
 '\t\t\t<td width="76" class="DataB">16,575</td>\r\n'
 '\t\t\t<td width="76" class="DataB">10,858</td>\r\n'
 '\t\t\t<td width="76" class="DataB">15,067</td>\r\n'
 '\t\t\t<td width="76" class="DataB">13,733</td>\r\n'
 '\t\t\t<td width="76" class="Current2">13,839</td>\r\n'
 '\t\t\t<td width="76" class="DataHist"><a href="./hist/n9040fx2a.htm" '
 'class="Hist">1997-2018</a></td>\t\t\t\t\r\n'
 '\t\t</tr>\r\n'
 '\t\t<tr class="DataRow">\r\n'
 '\t\t\t<td width="228" class="DataStub">\r\n'
 '\t\t\t\t<table border="0" cellspacing="0" cellpadding="0" class="data2">\r\n'
 '\t\t\t\t\t<tr>\r\n'
 '\t\t\t\t\t\t<td width="3"></td>\r\n'
 '\t\t\t\t\t\t<td class="DataStub1">Kansas</td>\r\n'
 '\t\t\t\t\t</tr>\r\n'
 '\t\t\t\t</table>\r\n'
 '\t\t\t</td>\r\n'
 '\t\t\t<td width="76" class="DataB">0</td>\r\n'
 '\t\t\t<td width="76" class="DataB">NA</td>\r\n'
 '\t\t\t<td width="76" class="DataB">0</td>\r\n'
 '\t\t\t<td width="76" class="DataB">NA</td>\r\n'
 '\t\t\t<td width="76" class="DataB">0</td>\r\n'
 '\t\t\t<td width="76" class="Current2">0</td>\r\n'
 '\t\t\t<td width="76" class="DataHist"><a href="./hist/n9040ks2a.htm" '
 'class="Hist">1967-2018</a></td>\t\t\t\t\r\n'
 '\t\t</tr>\r\n'
 '\t\t<tr class="DataRow">\r\n'
 '\t\t\t<td width="228" class="DataStub">\r\n'

In [12]:
soup = BeautifulSoup(r.text, 'html.parser')

In [14]:
print(soup.prettify())

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
 <head>
  <title>
   Natural Gas Vented and Flared
  </title>
  <meta content="index, follow" name="robots"/>
  <meta content="IE=9" http-equiv="X-UA-Compatible">
   <link href="Styles/ng_wrapper3.css" rel="StyleSheet" type="text/css"/>
   <link href="Styles/ng_data4.css" rel="StyleSheet" type="text/css"/>
   <link href="Styles/Nav_Print.css" media="print" rel="StyleSheet" type="text/css"/>
   <link href="/styles/Eia_sitewideF.css" rel="stylesheet" type="text/css">
    <noscript>
     <h3>
      This page uses JavaScipt
     </h3>
     <ul>
      <li>
       Please use Internet Explorer 3+ or Netscape Navigator 3+
       <li>
        Make sure that JavaScript is enabled in your browser
       </li>
      </li>
     </ul>
    </noscript>
    <!-- Header Script -->
    <script language="JavaScript" src="/styles/eia_header.js" type="text/javascript">
    </script>
    <!--/ Header Script -->
    <script src="/global/includes/dnavs/leaf_handler.cfm" type="text/javascript">
    </script>
    <!-- Footer Script -->
    <script src="/styles/eia_footer.js" type="text/javascript">
    </script>
    <!--/ Footer Script -->
    <script>
     var w=window;if(w.performance||w.mozPerformance||w.msPerformance||w.webkitPerformance){var d=document;AKSB=w.AKSB||{},AKSB.q=AKSB.q||[],AKSB.mark=AKSB.mark||function(e,_){AKSB.q.push(["mark",e,_||(new Date).getTime()])},AKSB.measure=AKSB.measure||function(e,_,t){AKSB.q.push(["measure",e,_,t||(new Date).getTime()])},AKSB.done=AKSB.done||function(e){AKSB.q.push(["done",e])},AKSB.mark("firstbyte",(new Date).getTime()),AKSB.prof={custid:"421524",ustr:"",originlat:"0",clientrtt:"4",ghostip:"23.56.172.31",ipv6:false,pct:"10",clientip:"3.85.176.47",requestid:"31d6e72e",region:"33506",protocol:"",blver:14,akM:"dscb",akN:"ae",akTT:"O",akTX:"1",akTI:"31d6e72e",ai:"269977",ra:"false",pmgn:"",pmgi:"",pmp:"",qc:""},function(e){var _=d.createElement("script");_.async="async",_.src=e;var t=d.getElementsByTagName("script"),t=t[t.length-1];t.parentNode.insertBefore(_,t)}(("https:"===d.location.protocol?"https:":"http:")+"//ds-aksb-a.akamaihd.net/aksb.min.js")}
    </script>
   </link>
  </meta>
 </head>
 <body>
  <script language="JavaScript" type="text/javascript">
   InsertEIAHeaderCode();
  </script>
  <!-- Start of Title Line/Section Header -->
  <table border="0" cellpadding="0" cellspacing="0" width="760">
   <tr>
    <td align="left" valign="top" width="760">
     <table align="left" border="0" cellpadding="0" cellspacing="0" class="TopicBar" width="760">
      <tr>
       <td colspan="2" height="8">
       </td>
      </tr>
      <tr>
       <td width="12">
       </td>
       <td class="TopLabel2" width="748">
        Natural Gas Gross Withdrawals and Production
       </td>
      </tr>
      <tr>
       <td>
       </td>
       <td class="TitleUnit">
        (Volumes in Million Cubic Feet)
       </td>
      </tr>
      <tr>
       <td colspan="2" height="3">
       </td>
      </tr>
     </table>
    </td>
   </tr>
   <tr>
    <td>
     <!-- Start of 1 Dropdown case -->
     <table align="left" border="0" cellpadding="0" cellspacing="0" class="UserBar">
      <tr>
       <td colspan="11" height="8">
       </td>
      </tr>
      <tr>
       <td width="20">
       </td>
       <td align="right" class="LabelA">
        Data Series:
       </td>
       <td width="5">
        <img alt="" border="0" height="1" src="img/spacer_transp.gif" width="1"/>
       </td>
       <td>
        <select class="B" name="Drop1" onchange="window.open(this.options[this.selectedIndex].value,'_top')" style="width: 264;" width="264">
         <option value="ng_prod_sum_a_EPG0_FGW_mmcf_a.htm">
          Gross Withdrawals
          <option value="ng_prod_sum_a_EPG0_FGG_mmcf_a.htm">
           Gross Withdrawals from Gas Wells
           <option value="ng_prod_sum_a_EPG0_FGO_mmcf_a.htm">
            Gross Withdrawals from Oil Wells
            <option value="ng_prod_sum_a_EPG0_FGS_mmcf_a.htm">
             Gross Withdrawals from Shale Gas Wells
             <option value="ng_prod_sum_a_EPG0_FGC_mmcf_a.htm">
              Gross Withdrawals from Coalbed Wells
              <option value="ng_prod_sum_a_EPG0_VGQ_mmcf_a.htm">
               Repressuring
               <option selected="" value="ng_prod_sum_a_EPG0_VGV_mmcf_a.htm">
                Vented and Flared
                <option value="ng_prod_sum_a_EPG0_VRN_mmcf_a.htm">
                 Nonhydrocarbon Gases Removed
                 <option value="ng_prod_sum_a_EPG0_VGM_mmcf_a.htm">
                  Marketed Production
                  <option value="ng_prod_sum_a_EPG0_VG9_mmcf_a.htm">
                   NGPL Production, Gaseous Equivalent
                   <option value="ng_prod_sum_a_EPG0_FPD_mmcf_a.htm">
                    Dry Production
                   </option>
                  </option>
                 </option>
                </option>
               </option>
              </option>
             </option>
            </option>
           </option>
          </option>
         </option>
        </select>
       </td>
       <td width="25">
       </td>
       <td align="right" class="LabelA">
        Period-Unit:
       </td>
       <td width="5">
        <img alt="" border="0" height="1" src="img/spacer_transp.gif" width="1"/>
       </td>
       <td>
        <select class="C" name="DropF" onchange="window.open(this.options[this.selectedIndex].value,'_top')" style="width: 200;" width="200">
         <option value="ng_prod_sum_a_EPG0_VGV_mmcf_m.htm">
          Monthly-Million Cubic Feet
          <option selected="" value="ng_prod_sum_a_EPG0_VGV_mmcf_a.htm">
           Annual-Million Cubic Feet
          </option>
         </option>
        </select>
       </td>
       <td width="5">
       </td>
       <td align="right" class="LabelA">
       </td>
       <td width="5">
        <img alt="" border="0" height="1" src="img/spacer_transp.gif" width="1"/>
       </td>
       <td>
       </td>
       <tr>
        <td colspan="11" height="12">
        </td>
       </tr>
      </tr>
     </table>
     <!-- End of Drop-downs -->
    </td>
   </tr>
  </table>
  <!-- End of Title Line/Section Header -->
  <!--Start of Inner Data Table -->
  <table border="0" class="data1" width="760">
   <tr>
    <th align="left" colspan="11">
     <div id="tlinks" name="tlinks">
      <table border="0" cellpadding="0" cellspacing="1" class="data2">
       <tr>
        <td width="15">
        </td>
        <td align="center">
         <a class="reg" href="./xls/NG_PROD_SUM_A_EPG0_VGV_MMCF_A.xls">
          <img alt="Download Series History" border="0" height="19" src="img/Excel_Hist3.jpg" width="21"/>
         </a>
        </td>
        <td width="2">
        </td>
        <td align="left" class="Info" valign="middle">
         <a class="crumb" href="./xls/NG_PROD_SUM_A_EPG0_VGV_MMCF_A.xls">
          Download Series History
         </a>
        </td>
        <td width="20">
        </td>
        <td align="center" width="21">
         <a href="TblDefs/ng_prod_sum_tbldef2.asp">
          <img alt="Definitions, Sources &amp; Notes" border="0" height="19" src="img/Notes_Icon1.jpg" width="21"/>
         </a>
        </td>
        <td width="1">
        </td>
        <td align="left" class="Info" valign="middle">
         <a class="crumb" href="TblDefs/ng_prod_sum_tbldef2.asp">
          Definitions, Sources &amp; Notes
         </a>
        </td>
       </tr>
      </table>
     </div>
    </th>
   </tr>
   <tr>
    <th class="Series">
     <table align="left" border="0" cellpadding="0" cellspacing="0" class="data2">
      <tr>
       <td class="ViewLabel" colspan="8">
        Show Data By:
       </td>
      </tr>
      <tr>
       <td colspan="8" height="3">
       </td>
      </tr>
      <tr align="left">
       <td width="10">
        <img alt="" border="0" height="1" src="img/spacer_transp.gif" width="1"/>
       </td>
       <td align="left">
        <a href="ng_prod_sum_dc_NUS_MMCF_m.htm">
         <img alt="" border="0" height="13" src="img/Radio_I9.jpg" width="13"/>
        </a>
       </td>
       <td width="5">
        <img alt="" border="0" height="1" src="img/spacer_transp.gif" width="1"/>
       </td>
       <td class="LabelB">
        <a class="NavChunkA" href="ng_prod_sum_dc_NUS_MMCF_m.htm">
         Data Series
        </a>
       </td>
       <td width="15">
        <img alt="" border="0" height="1" src="img/spacer_transp.gif" width="1"/>
       </td>
       <td align="left">
        <a href="ng_prod_sum_a_EPG0_FGW_mmcf_m.htm">
         <img alt="" border="0" height="13" src="img/Radio_A9.jpg" width="13"/>
        </a>
       </td>
       <td width="5">
        <img alt="" border="0" height="1" src="img/spacer_transp.gif" width="1"/>
       </td>
       <td class="LabelB">
        <a class="NavChunkA" href="ng_prod_sum_a_EPG0_FGW_mmcf_m.htm">
         Area
        </a>
       </td>
       <td width="20">
        <img alt="" border="0" height="1" src="img/spacer_transp.gif" width="1"/>
       </td>
      </tr>
      <tr>
       <td colspan="8" height="2">
       </td>
      </tr>
     </table>
     <img alt="" border="0" height="1" src="img/spacer_transp.gif" width="1"/>
    </th>
    <th class="Series5">
     2013
    </th>
    <th class="Series5">
     2014
    </th>
    <th class="Series5">
     2015
    </th>
    <th class="Series5">
     2016
    </th>
    <th class="Series5">
     2017
    </th>
    <th class="Series5">
     2018
    </th>
    <th class="Cross">
     View
     <br/>
     History
    </th>
   </tr>
   <tr class="DataRow">
    <td class="DataStub" width="228">
     <table border="0" cellpadding="0" cellspacing="0" class="data2">
      <tr>
       <td width="3">
       </td>
       <td class="DataStub1">
        <b>
         U.S.
         <b>
         </b>
        </b>
       </td>
      </tr>
     </table>
    </td>
    <td class="DataB" width="76">
     260,394
    </td>
    <td class="DataB" width="76">
     293,916
    </td>
    <td class="DataB" width="76">
     289,545
    </td>
    <td class="DataB" width="76">
     230,410
    </td>
    <td class="DataB" width="76">
     NA
    </td>
    <td class="Current2" width="76">
     468,347
    </td>
    <td class="DataHist" width="76">
     <a class="Hist" href="./hist/n9040us2a.htm">
      1936-2018
     </a>
    </td>
   </tr>
   <tr class="DataRow">
    <td class="DataStub" width="228">
     <table border="0" cellpadding="0" cellspacing="0" class="data2">
      <tr>
       <td width="3">
       </td>
       <td class="DataStub1">
        Alaska
       </td>
      </tr>
     </table>
    </td>
    <td class="DataB" width="76">
     7,219
    </td>
    <td class="DataB" width="76">
     6,554
    </td>
    <td class="DataB" width="76">
     5,385
    </td>
    <td class="DataB" width="76">
     8,541
    </td>
    <td class="DataB" width="76">
     7,605
    </td>
    <td class="Current2" width="76">
     8,210
    </td>
    <td class="DataHist" width="76">
     <a class="Hist" href="./hist/n9040ak2a.htm">
      1967-2018
     </a>
    </td>
   </tr>
   <tr class="DataRow">
    <td class="DataStub" width="228">
     <table border="0" cellpadding="0" cellspacing="0" class="data2">
      <tr>
       <td width="23">
       </td>
       <td class="DataStub1">
        Alaska Onshore
       </td>
      </tr>
     </table>
    </td>
    <td class="DataB" width="76">
     5,670
    </td>
    <td class="DataB" width="76">
     5,779
    </td>
    <td class="DataB" width="76">
     4,755
    </td>
    <td class="DataB" width="76">
     7,557
    </td>
    <td class="DataB" width="76">
     6,739
    </td>
    <td class="Current2" width="76">
     7,229
    </td>
    <td class="DataHist" width="76">
     <a class="Hist" href="./hist/na1130_rako_2a.htm">
      1992-2018
     </a>
    </td>
   </tr>
   <tr class="DataRow">
    <td class="DataStub" width="228">
     <table border="0" cellpadding="0" cellspacing="0" class="data2">
      <tr>
       <td width="23">
       </td>
       <td class="DataStub1">
        Alaska State Offshore
       </td>
      </tr>
     </table>
    </td>
    <td class="DataB" width="76">
     1,549
    </td>
    <td class="DataB" width="76">
     776
    </td>
    <td class="DataB" width="76">
     630
    </td>
    <td class="DataB" width="76">
     984
    </td>
    <td class="DataB" width="76">
     866
    </td>
    <td class="Current2" width="76">
     981
    </td>
    <td class="DataHist" width="76">
     <a class="Hist" href="./hist/na1130_raksf_2a.htm">
      1992-2018
     </a>
    </td>
   </tr>
   <tr class="DataRow">
    <td class="DataStub" width="228">
     <table border="0" cellpadding="0" cellspacing="0" class="data2">
      <tr>
       <td width="3">
       </td>
       <td class="DataStub1">
        Arkansas
       </td>
      </tr>
     </table>
    </td>
    <td class="DataB" width="76">
     0
    </td>
    <td class="DataB" width="76">
     NA
    </td>
    <td class="DataB" width="76">
     0
    </td>
    <td class="DataB" width="76">
     NA
    </td>
    <td class="DataB" width="76">
     0
    </td>
    <td class="Current2" width="76">
     0
    </td>
    <td class="DataHist" width="76">
     <a class="Hist" href="./hist/n9040ar2a.htm">
      1967-2018
     </a>
    </td>
   </tr>
   <tr class="DataRow">
    <td class="DataStub" width="228">
     <table border="0" cellpadding="0" cellspacing="0" class="data2">
      <tr>
       <td width="3">
       </td>
       <td class="DataStub1">
        California
       </td>
      </tr>
     </table>
    </td>
    <td class="DataB" width="76">
     0
    </td>
    <td class="DataB" width="76">
     NA
    </td>
    <td class="DataB" width="76">
     0
    </td>
    <td class="DataB" width="76">
     NA
    </td>
    <td class="DataB" width="76">
     0
    </td>
    <td class="Current2" width="76">
     0
    </td>
    <td class="DataHist" width="76">
     <a class="Hist" href="./hist/n9040ca2a.htm">
      1967-2018
     </a>
    </td>
   </tr>
   <tr class="DataRow">
    <td class="DataStub" width="228">
     <table border="0" cellpadding="0" cellspacing="0" class="data2">
      <tr>
       <td width="23">
       </td>
       <td class="DataStub1">
        California Onshore
       </td>
      </tr>
     </table>
    </td>
    <td class="DataB" width="76">
     NA
    </td>
    <td class="DataB" width="76">
     NA
    </td>
    <td class="DataB" width="76">
     NA
    </td>
    <td class="DataB" width="76">
     NA
    </td>
    <td class="DataB" width="76">
     NA
    </td>
    <td class="Current2" width="76">
     NA
    </td>
    <td class="DataHist" width="76">
     <a class="Hist" href="./hist/na1130_rcao_2a.htm">
      1992-2018
     </a>
    </td>
   </tr>
   <tr class="DataRow">
    <td class="DataStub" width="228">
     <table border="0" cellpadding="0" cellspacing="0" class="data2">
      <tr>
       <td width="43">
       </td>
       <td class="DataStub1">
        California State Offshore
       </td>
      </tr>
     </table>
    </td>
    <td class="DataB" width="76">
     NA
    </td>
    <td class="DataB" width="76">
     NA
    </td>
    <td class="DataB" width="76">
     NA
    </td>
    <td class="DataB" width="76">
     NA
    </td>
    <td class="DataB" width="76">
     0
    </td>
    <td class="Current2" width="76">
     0
    </td>
    <td class="DataHist" width="76">
     <a class="Hist" href="./hist/na1130_rcasf_2a.htm">
      2003-2018
     </a>
    </td>
   </tr>
   <tr class="DataRow">
    <td class="DataStub" width="228">
     <table border="0" cellpadding="0" cellspacing="0" class="data2">
      <tr>
       <td width="43">
       </td>
       <td class="DataStub1">
        Federal Offshore California
       </td>
      </tr>
     </table>
    </td>
    <td class="DataB" width="76">
    </td>
    <td class="DataB" width="76">
     NA
    </td>
    <td class="DataB" width="76">
     NA
    </td>
    <td class="DataB" width="76">
    </td>
    <td class="DataB" width="76">
     NA
    </td>
    <td class="Current2" width="76">
     0
    </td>
    <td class="DataHist" width="76">
     <a class="Hist" href="./hist/na1130_r5f_2a.htm">
      2003-2018
     </a>
    </td>
   </tr>
   <tr class="DataRow">
    <td class="DataStub" width="228">
     <table border="0" cellpadding="0" cellspacing="0" class="data2">
      <tr>
       <td width="3">
       </td>
       <td class="DataStub1">
        Colorado
       </td>
      </tr>
     </table>
    </td>
    <td class="DataB" width="76">
     0
    </td>
    <td class="DataB" width="76">
     NA
    </td>
    <td class="DataB" width="76">
     0
    </td>
    <td class="DataB" width="76">
     2,620
    </td>
    <td class="DataB" width="76">
     4,279
    </td>
    <td class="Current2" width="76">
     5,097
    </td>
    <td class="DataHist" width="76">
     <a class="Hist" href="./hist/n9040co2a.htm">
      1967-2018
     </a>
    </td>
   </tr>
   <tr class="DataRow">
    <td class="DataStub" width="228">
     <table border="0" cellpadding="0" cellspacing="0" class="data2">
      <tr>
       <td width="3">
       </td>
       <td class="DataStub1">
        Federal Offshore Gulf of Mexico
       </td>
      </tr>
     </table>
    </td>
    <td class="DataB" width="76">
     14,619
    </td>
    <td class="DataB" width="76">
     16,575
    </td>
    <td class="DataB" width="76">
     10,858
    </td>
    <td class="DataB" width="76">
     15,067
    </td>
    <td class="DataB" width="76">
     13,733
    </td>
    <td class="Current2" width="76">
     13,839
    </td>
    <td class="DataHist" width="76">
     <a class="Hist" href="./hist/n9040fx2a.htm">
      1997-2018
     </a>
    </td>
   </tr>
   <tr class="DataRow">
    <td class="DataStub" width="228">
     <table border="0" cellpadding="0" cellspacing="0" class="data2">
      <tr>
       <td width="3">
       </td>
       <td class="DataStub1">
        Kansas
       </td>
      </tr>
     </table>
    </td>
    <td class="DataB" width="76">
     0
    </td>
    <td class="DataB" width="76">
     NA
    </td>
    <td class="DataB" width="76">
     0
    </td>
    <td class="DataB" width="76">
     NA
    </td>
    <td class="DataB" width="76">
     0
    </td>
    <td class="Current2" width="76">
     0
    </td>
    <td class="DataHist" width="76">
     <a class="Hist" href="./hist/n9040ks2a.htm">
      1967-2018
     </a>
    </td>
   </tr>
   <tr class="DataRow">
    <td class="DataStub" width="228">
     <table border="0" cellpadding="0" cellspacing="0" class="data2">
      <tr>
       <td width="3">
       </td>
       <td class="DataStub1">
        Louisiana
       </td>
      </tr>
     </table>
    </td>
    <td class="DataB" width="76">
     3,912
    </td>
    <td class="DataB" width="76">
     4,606
    </td>
    <td class="DataB" width="76">
     3,787
    </td>
    <td class="DataB" width="76">
     5,106
    </td>
    <td class="DataB" width="76">
     5,338
    </td>
    <td class="Current2" width="76">
     5,939
    </td>
    <td class="DataHist" width="76">
     <a class="Hist" href="./hist/n9040la2a.htm">
      1967-2018
     </a>
    </td>
   </tr>
   <tr class="DataRow">
    <td class="DataStub" width="228">
     <table border="0" cellpadding="0" cellspacing="0" class="data2">
      <tr>
       <td width="23">
       </td>
       <td class="DataStub1">
        Louisiana Onshore
       </td>
      </tr>
     </table>
    </td>
    <td class="DataB" width="76">
     3,912
    </td>
    <td class="DataB" width="76">
     4,606
    </td>
    <td class="DataB" width="76">
     3,787
    </td>
    <td class="DataB" width="76">
     5,106
    </td>
    <td class="DataB" width="76">
     5,338
    </td>
    <td class="Current2" width="76">
     5,939
    </td>
    <td class="DataHist" width="76">
     <a class="Hist" href="./hist/na1130_rlao_2a.htm">
      1992-2018
     </a>
    </td>

In [16]:
#Filter for each row
row = soup.find_all('tr', class_ = 'DataRow')[0]
row

<tr class="DataRow">
<td class="DataStub" width="228">
<table border="0" cellpadding="0" cellspacing="0" class="data2">
<tr>
<td width="3"></td>
<td class="DataStub1"><b>U.S.<b></b></b></td>
</tr>
</table>
</td>
<td class="DataB" width="76">260,394</td>
<td class="DataB" width="76">293,916</td>
<td class="DataB" width="76">289,545</td>
<td class="DataB" width="76">230,410</td>
<td class="DataB" width="76">NA</td>
<td class="Current2" width="76">468,347</td>
<td class="DataHist" width="76"><a class="Hist" href="./hist/n9040us2a.htm">1936-2018</a></td>
</tr>

In [18]:
name = row.find(class_='DataStub1').text
name.strip()

'U.S.'

In [20]:
#CSS for historical data
link = row.find('a')['href'][1:]
main_url_ng = 'https://www.eia.gov/dnav/ng'
link = main_url_ng + link
link

'https://www.eia.gov/dnav/ng/hist/n9040us2a.htm'

In [22]:
#Gather information from sub-page
sub_page = requests.get(link)
sub_soup = BeautifulSoup(sub_page.text, 'html.parser')
sub_soup

<!DOCTYPE HTML PUBLIC '-//W3C//DTD HTML 4.01 Transitional//EN'>
 <html> <head> <meta content="IE=9" http-equiv="X-UA-Compatible"/> <title>U.S. Natural Gas Vented and Flared  (Million Cubic Feet)</title> <link href="../Styles/ng_wrapper3.css" rel="StyleSheet" type="text/css"/> <link href="../Styles/leaf_new2.css" rel="StyleSheet" type="text/css"/> <link href="/styles/Eia_sitewideF.css" rel="StyleSheet" type="text/css"> <!-- Header Script --> <script language="JavaScript" src="/styles/eia_header.js" type="text/javascript"></script> <!--/ Header Script --> <script src="/global/includes/dnavs/leaf_handler.cfm" type="text/javascript"></script> <!-- Footer Script --> <script language="JavaScript" src="/styles/eia_footer.js" type="text/javascript"></script> <!--/ Footer Script --> </link></head> <body> <script language="JavaScript" type="text/javascript">InsertEIAHeaderCode();</script> <table border="0" cellpadding="0" cellspacing="0" width="675"> <tr> <td class="K"> </td> </tr> <tr> <td height="12"></td> </tr> <tr> <td> <table border="0" cellpadding="0" cellspacing="0" width="675"> <tr> <td width="400"> <table border="2" bordercolordark="#99cccc" bordercolorlight="#99cccc" cellpadding="0" cellspacing="0" style="border: thin;"> <tr> <td> <table border="0" cellpadding="0" cellspacing="0"> <tr> <td class="J"> View History:  </td> <td><a href="n9040us2M.htm"><img alt="" border="0" height="13" src="../img/RadioL_I.jpg" width="12"/></a></td> <td class="F"> <a class="NavChunk" href="n9040us2M.htm">Monthly</a>   </td> <td><a href="n9040us2A.htm"><img alt="" border="0" height="13" src="../img/RadioL_A.jpg" width="12"/></a></td> <td class="F"> <a class="NavChunk" href="n9040us2A.htm">Annual</a>   </td> </tr> </table> </td> </tr> </table> </td> <td align="right" class="F" width="375"> <a class="crumb" href="../hist_xls/N9040US2a.xls">Download Data (XLS File)</a> </td> </tr> </table> </td> </tr> <tr> <td height="15"></td> </tr> <tr> <td><img alt="U.S. Natural Gas Vented and Flared  (Million Cubic Feet)" height="275" src="../hist_chart/N9040US2a.jpg" width="675"/></td> </tr> <tr> <td height="12"></td> </tr> <tr> <td height="5"></td> </tr> <!--
 <tr>
 <td nowrap class='E'>&nbsp;use back button to return to prior data&nbsp;</td>
 <td width='95%'></td>
 </tr>
 --> <tr> <td align="center" bgcolor="#ffffff" class="Title1">U.S. Natural Gas Vented and Flared  (Million Cubic Feet)</td> </tr> <tr> <td height="2"></td> </tr> </table> <table border="0" cellpadding="2" cellspacing="0" summary="U.S. Natural Gas Vented and Flared  (Million Cubic Feet)" width="600"> <table border="0" cellpadding="2" cellspacing="0" width="675"> <tr bgcolor="#339999"> <th class="G2">Decade</th> <th class="G">Year-0</th> <th class="G">Year-1</th> <th class="G">Year-2</th> <th class="G">Year-3</th> <th class="G">Year-4</th> <th class="G">Year-5</th> <th class="G">Year-6</th> <th class="G">Year-7</th> <th class="G">Year-8</th> <th class="G">Year-9</th> </tr> <tr> <td class="B4">  1930's</td> <td class="B3"></td> <td class="B3"></td> <td class="B3"></td> <td class="B3"></td> <td class="B3"></td> <td class="B3"></td> <td class="B3">392,528</td> <td class="B3">526,159</td> <td class="B3">649,106</td> <td class="B3">677,311</td> </tr> <tr> <td class="B4">  1940's</td> <td class="B3">655,967</td> <td class="B3">630,212</td> <td class="B3">626,782</td> <td class="B3">684,115</td> <td class="B3">1,010,285</td> <td class="B3">896,208</td> <td class="B3">1,102,033</td> <td class="B3">1,067,938</td> <td class="B3">810,178</td> <td class="B3">853,884</td> </tr> <tr> <td class="B4">  1950's</td> <td class="B3">801,044</td> <td class="B3">793,186</td> <td class="B3">848,608</td> <td class="B3">810,276</td> <td class="B3">723,567</td> <td class="B3">773,639</td> <td class="B3">864,334</td> <td class="B3">809,148</td> <td class="B3">633,412</td> <td class="B3">571,048</td> </tr> <tr> <td class="B4">  1960's</td> <td class="B3">562,877</td> <td class="B3">523,533</td> <td class="B3">425,629</td> <td class="B3">383,408</td> <td class="B3">341,853</td> <td class="B3">319,143</td> <td class="B3">375,695</td> <td class="B3">489,877</td> <td class="B3">516,508</td> <td class="B3">525,750</td> </tr> <tr> <td class="B4">  1970's</td> <td class="B3">489,460</td> <td class="B3">284,561</td> <td class="B3">248,119</td> <td class="B3">248,292</td> <td class="B3">169,381</td> <td class="B3">133,913</td> <td class="B3">131,930</td> <td class="B3">136,807</td> <td class="B3">153,350</td> <td class="B3">167,019</td> </tr> <tr> <td class="B4">  1980's</td> <td class="B3">125,451</td> <td class="B3">98,017</td> <td class="B3">93,365</td> <td class="B3">94,962</td> <td class="B3">107,913</td> <td class="B3">94,778</td> <td class="B3">97,633</td> <td class="B3">123,707</td> <td class="B3">142,525</td> <td class="B3">141,642</td> </tr> <tr> <td class="B4">  1990's</td> <td class="B3">150,415</td> <td class="B3">169,909</td> <td class="B3">167,519</td> <td class="B3">226,743</td> <td class="B3">228,336</td> <td class="B3">283,739</td> <td class="B3">272,117</td> <td class="B3">256,351</td> <td class="B3">103,019</td> <td class="B3">110,285</td> </tr> <tr> <td class="B4">  2000's</td> <td class="B3">91,232</td> <td class="B3">96,913</td> <td class="B3">99,178</td> <td class="B3">98,113</td> <td class="B3">96,408</td> <td class="B3">119,097</td> <td class="B3">129,469</td> <td class="B3">143,457</td> <td class="B3">166,909</td> <td class="B3">165,360</td> </tr> <tr> <td class="B4">  2010's</td> <td class="B3">165,928</td> <td class="B3">209,439</td> <td class="B3">212,848</td> <td class="B3">260,394</td> <td class="B3">293,916</td> <td class="B3">289,545</td> <td class="B3">230,410</td> <td class="B3">NA</td> <td class="B3">468,347</td> <td class="B3"></td> </tr> </table> <br/> <hr align="left" width="675"/> <table border="0" cellpadding="0" cellspacing="0" width="680"> <tr> <td class="F2"> <span class="FNlabel">-</span> = No Data Reported;
 <span class="FNlabel">--</span> = Not Applicable;
 <span class="FNlabel">NA</span> = Not Available;
 <span class="FNlabel">W</span> = Withheld to avoid disclosure of individual company data.
 </td> </tr> <tr> <td height="10"></td> </tr> </table> <table border="0" cellpadding="0" cellspacing="0" width="675"> <tr> <td class="F2">Release Date: 6/30/2020</td> </tr> <tr> <td class="F2">Next Release Date: 7/31/2020</td> </tr> </table> <div id="refer"> <p id="rlabel">Referring Pages:</p> <ul> <li><a class="crumb" href="../NG_PROD_SUM_A_EPG0_VGV_MMCF_A.htm">Natural Gas Vented and Flared </a></li> <li><a class="crumb" href="../NG_PROD_SUM_DC_NUS_MMCF_A.htm">U.S. Natural Gas Gross Withdrawals and Production</a></li> <li><a class="crumb" href="../NG_SUM_LSUM_A_EPG0_VGV_MMCF_A.htm">Natural Gas Vented and Flared (Summary) </a></li> </ul> </div> <script type="text/javascript">InsertEIAFooterCode();</script> <!--
 6/26/2020 7:07:12 AM
 --> </table></body> </html>

In [24]:
print(sub_soup.prettify())

<!DOCTYPE HTML PUBLIC '-//W3C//DTD HTML 4.01 Transitional//EN'>
<html>
 <head>
  <meta content="IE=9" http-equiv="X-UA-Compatible"/>
  <title>
   U.S. Natural Gas Vented and Flared  (Million Cubic Feet)
  </title>
  <link href="../Styles/ng_wrapper3.css" rel="StyleSheet" type="text/css"/>
  <link href="../Styles/leaf_new2.css" rel="StyleSheet" type="text/css"/>
  <link href="/styles/Eia_sitewideF.css" rel="StyleSheet" type="text/css">
   <!-- Header Script -->
   <script language="JavaScript" src="/styles/eia_header.js" type="text/javascript">
   </script>
   <!--/ Header Script -->
   <script src="/global/includes/dnavs/leaf_handler.cfm" type="text/javascript">
   </script>
   <!-- Footer Script -->
   <script language="JavaScript" src="/styles/eia_footer.js" type="text/javascript">
   </script>
   <!--/ Footer Script -->
  </link>
 </head>
 <body>
  <script language="JavaScript" type="text/javascript">
   InsertEIAHeaderCode();
  </script>
  <table border="0" cellpadding="0" cellspacing="0" width="675">
   <tr>
    <td class="K">
    </td>
   </tr>
   <tr>
    <td height="12">
    </td>
   </tr>
   <tr>
    <td>
     <table border="0" cellpadding="0" cellspacing="0" width="675">
      <tr>
       <td width="400">
        <table border="2" bordercolordark="#99cccc" bordercolorlight="#99cccc" cellpadding="0" cellspacing="0" style="border: thin;">
         <tr>
          <td>
           <table border="0" cellpadding="0" cellspacing="0">
            <tr>
             <td class="J">
              View History:
             </td>
             <td>
              <a href="n9040us2M.htm">
               <img alt="" border="0" height="13" src="../img/RadioL_I.jpg" width="12"/>
              </a>
             </td>
             <td class="F">
              <a class="NavChunk" href="n9040us2M.htm">
               Monthly
              </a>
             </td>
             <td>
              <a href="n9040us2A.htm">
               <img alt="" border="0" height="13" src="../img/RadioL_A.jpg" width="12"/>
              </a>
             </td>
             <td class="F">
              <a class="NavChunk" href="n9040us2A.htm">
               Annual
              </a>
             </td>
            </tr>
           </table>
          </td>
         </tr>
        </table>
       </td>
       <td align="right" class="F" width="375">
        <a class="crumb" href="../hist_xls/N9040US2a.xls">
         Download Data (XLS File)
        </a>
       </td>
      </tr>
     </table>
    </td>
   </tr>
   <tr>
    <td height="15">
    </td>
   </tr>
   <tr>
    <td>
     <img alt="U.S. Natural Gas Vented and Flared  (Million Cubic Feet)" height="275" src="../hist_chart/N9040US2a.jpg" width="675"/>
    </td>
   </tr>
   <tr>
    <td height="12">
    </td>
   </tr>
   <tr>
    <td height="5">
    </td>
   </tr>
 -->
   <tr>
    <td align="center" bgcolor="#ffffff" class="Title1">
     U.S. Natural Gas Vented and Flared  (Million Cubic Feet)
    </td>
   </tr>
   <tr>
    <td height="2">
    </td>
   </tr>
  </table>
  <table border="0" cellpadding="2" cellspacing="0" summary="U.S. Natural Gas Vented and Flared  (Million Cubic Feet)" width="600">
   <table border="0" cellpadding="2" cellspacing="0" width="675">
    <tr bgcolor="#339999">
     <th class="G2">
      Decade
     </th>
     <th class="G">
      Year-0
     </th>
     <th class="G">
      Year-1
     </th>
     <th class="G">
      Year-2
     </th>
     <th class="G">
      Year-3
     </th>
     <th class="G">
      Year-4
     </th>
     <th class="G">
      Year-5
     </th>
     <th class="G">
      Year-6
     </th>
     <th class="G">
      Year-7
     </th>
     <th class="G">
      Year-8
     </th>
     <th class="G">
      Year-9
     </th>
    </tr>
    <tr>
     <td class="B4">
      1930's
     </td>
     <td class="B3">
     </td>
     <td class="B3">
     </td>
     <td class="B3">
     </td>
     <td class="B3">
     </td>
     <td class="B3">
     </td>
     <td class="B3">
     </td>
     <td class="B3">
      392,528
     </td>
     <td class="B3">
      526,159
     </td>
     <td class="B3">
      649,106
     </td>
     <td class="B3">
      677,311
     </td>
    </tr>
    <tr>
     <td class="B4">
      1940's
     </td>
     <td class="B3">
      655,967
     </td>
     <td class="B3">
      630,212
     </td>
     <td class="B3">
      626,782
     </td>
     <td class="B3">
      684,115
     </td>
     <td class="B3">
      1,010,285
     </td>
     <td class="B3">
      896,208
     </td>
     <td class="B3">
      1,102,033
     </td>
     <td class="B3">
      1,067,938
     </td>
     <td class="B3">
      810,178
     </td>
     <td class="B3">
      853,884
     </td>
    </tr>
    <tr>
     <td class="B4">
      1950's
     </td>
     <td class="B3">
      801,044
     </td>
     <td class="B3">
      793,186
     </td>
     <td class="B3">
      848,608
     </td>
     <td class="B3">
      810,276
     </td>
     <td class="B3">
      723,567
     </td>
     <td class="B3">
      773,639
     </td>
     <td class="B3">
      864,334
     </td>
     <td class="B3">
      809,148
     </td>
     <td class="B3">
      633,412
     </td>
     <td class="B3">
      571,048
     </td>
    </tr>
    <tr>
     <td class="B4">
      1960's
     </td>
     <td class="B3">
      562,877
     </td>
     <td class="B3">
      523,533
     </td>
     <td class="B3">
      425,629
     </td>
     <td class="B3">
      383,408
     </td>
     <td class="B3">
      341,853
     </td>
     <td class="B3">
      319,143
     </td>
     <td class="B3">
      375,695
     </td>
     <td class="B3">
      489,877
     </td>
     <td class="B3">
      516,508
     </td>
     <td class="B3">
      525,750
     </td>
    </tr>
    <tr>
     <td class="B4">
      1970's
     </td>
     <td class="B3">
      489,460
     </td>
     <td class="B3">
      284,561
     </td>
     <td class="B3">
      248,119
     </td>
     <td class="B3">
      248,292
     </td>
     <td class="B3">
      169,381
     </td>
     <td class="B3">
      133,913
     </td>
     <td class="B3">
      131,930
     </td>
     <td class="B3">
      136,807
     </td>
     <td class="B3">
      153,350
     </td>
     <td class="B3">
      167,019
     </td>
    </tr>
    <tr>
     <td class="B4">
      1980's
     </td>
     <td class="B3">
      125,451
     </td>
     <td class="B3">
      98,017
     </td>
     <td class="B3">
      93,365
     </td>
     <td class="B3">
      94,962
     </td>
     <td class="B3">
      107,913
     </td>
     <td class="B3">
      94,778
     </td>
     <td class="B3">
      97,633
     </td>
     <td class="B3">
      123,707
     </td>
     <td class="B3">
      142,525
     </td>
     <td class="B3">
      141,642
     </td>
    </tr>
    <tr>
     <td class="B4">
      1990's
     </td>
     <td class="B3">
      150,415
     </td>
     <td class="B3">
      169,909
     </td>
     <td class="B3">
      167,519
     </td>
     <td class="B3">
      226,743
     </td>
     <td class="B3">
      228,336
     </td>
     <td class="B3">
      283,739
     </td>
     <td class="B3">
      272,117
     </td>
     <td class="B3">
      256,351
     </td>
     <td class="B3">
      103,019
     </td>
     <td class="B3">
      110,285
     </td>
    </tr>
    <tr>
     <td class="B4">
      2000's
     </td>
     <td class="B3">
      91,232
     </td>
     <td class="B3">
      96,913
     </td>
     <td class="B3">
      99,178
     </td>
     <td class="B3">
      98,113
     </td>
     <td class="B3">
      96,408
     </td>
     <td class="B3">
      119,097
     </td>
     <td class="B3">
      129,469
     </td>
     <td class="B3">
      143,457
     </td>
     <td class="B3">
      166,909
     </td>
     <td class="B3">
      165,360
     </td>
    </tr>
    <tr>
     <td class="B4">
      2010's
     </td>
     <td class="B3">
      165,928
     </td>
     <td class="B3">
      209,439
     </td>
     <td class="B3">
      212,848
     </td>
     <td class="B3">
      260,394
     </td>
     <td class="B3">
      293,916
     </td>
     <td class="B3">
      289,545
     </td>
     <td class="B3">
      230,410
     </td>
     <td class="B3">
      NA
     </td>
     <td class="B3">
      468,347
     </td>
     <td class="B3">
     </td>
    </tr>
   </table>
   <br/>
   <hr align="left" width="675"/>
   <table border="0" cellpadding="0" cellspacing="0" width="680">
    <tr>
     <td class="F2">
      <span class="FNlabel">
       -
      </span>
      = No Data Reported;
      <span class="FNlabel">
       --
      </span>
      = Not Applicable;
      <span class="FNlabel">
       NA
      </span>
      = Not Available;
      <span class="FNlabel">
       W
      </span>
      = Withheld to avoid disclosure of individual company data.
     </td>
    </tr>
    <tr>
     <td height="10">
     </td>
    </tr>
   </table>
   <table border="0" cellpadding="0" cellspacing="0" width="675">
    <tr>
     <td class="F2">
      Release Date: 6/30/2020
     </td>
    </tr>
    <tr>
     <td class="F2">
      Next Release Date: 7/31/2020
     </td>
    </tr>
   </table>
   <div id="refer">
    <p id="rlabel">
     Referring Pages:
    </p>
    <ul>
     <li>
      <a class="crumb" href="../NG_PROD_SUM_A_EPG0_VGV_MMCF_A.htm">
       Natural Gas Vented and Flared
      </a>
     </li>
     <li>
      <a class="crumb" href="../NG_PROD_SUM_DC_NUS_MMCF_A.htm">
       U.S. Natural Gas Gross Withdrawals and Production
      </a>
     </li>
     <li>
      <a class="crumb" href="../NG_SUM_LSUM_A_EPG0_VGV_MMCF_A.htm">
       Natural Gas Vented and Flared (Summary)
      </a>
     </li>
    </ul>
   </div>
   <script type="text/javascript">
    InsertEIAFooterCode();
   </script>
 -->
  </table>
 </body>
</html>

In [27]:
# Filter for table data
data = sub_soup.find_all(class_='B3')
n = len(data)
all_data = [sub_soup.find_all(class_ = 'B3')[i].text.strip() for i in range(len(data))]
all_data

['',
 '',
 '',
 '',
 '',
 '',
 '392,528',
 '526,159',
 '649,106',
 '677,311',
 '655,967',
 '630,212',
 '626,782',
 '684,115',
 '1,010,285',
 '896,208',
 '1,102,033',
 '1,067,938',
 '810,178',
 '853,884',
 '801,044',
 '793,186',
 '848,608',
 '810,276',
 '723,567',
 '773,639',
 '864,334',
 '809,148',
 '633,412',
 '571,048',
 '562,877',
 '523,533',
 '425,629',
 '383,408',
 '341,853',
 '319,143',
 '375,695',
 '489,877',
 '516,508',
 '525,750',
 '489,460',
 '284,561',
 '248,119',
 '248,292',
 '169,381',
 '133,913',
 '131,930',
 '136,807',
 '153,350',
 '167,019',
 '125,451',
 '98,017',
 '93,365',
 '94,962',
 '107,913',
 '94,778',
 '97,633',
 '123,707',
 '142,525',
 '141,642',
 '150,415',
 '169,909',
 '167,519',
 '226,743',
 '228,336',
 '283,739',
 '272,117',
 '256,351',
 '103,019',
 '110,285',
 '91,232',
 '96,913',
 '99,178',
 '98,113',
 '96,408',
 '119,097',
 '129,469',
 '143,457',
 '166,909',
 '165,360',
 '165,928',
 '209,439',
 '212,848',
 '260,394',
 '293,916',
 '289,545',
 '230,410',
 'NA',
 '468,347',
 '']

In [ ]:
#Pull everything together for natural gas flare volume for each state
url = 'https://www.eia.gov/dnav/ng/ng_prod_sum_a_EPG0_VGV_mmcf_a.htm'
r = requests.get(url)
soup = BeautifulSoup(r.text, 'html.parser')
#year = [y for y in range(1930, 2020)]
for row in soup.find_all('tr', class_ = 'DataRow'):
    #State
    state = row.find(class_='DataStub1').text
    #Sublink for historical data
    sub_link = row.find('a')['href'][1:]
    sub_link = url[ : 27] + "'" + sub_link
    sub_page = requests.get(link)
    sub_soup = BeautifulSoup(sub_page.text, 'html.parser')
    data = sub_soup.find_all(class_='B3')
    n = len(data)
    all_data = [sub_soup.find_all(class_ = 'B3')[i].text.strip() for i in range(len(data))]
    #out = zip(year, all_data)
    print([state, all_data])
    time.sleep(1.0)

['U.S.', ['', '', '', '', '', '', '392,528', '526,159', '649,106', '677,311', '655,967', '630,212', '626,782', '684,115', '1,010,285', '896,208', '1,102,033', '1,067,938', '810,178', '853,884', '801,044', '793,186', '848,608', '810,276', '723,567', '773,639', '864,334', '809,148', '633,412', '571,048', '562,877', '523,533', '425,629', '383,408', '341,853', '319,143', '375,695', '489,877', '516,508', '525,750', '489,460', '284,561', '248,119', '248,292', '169,381', '133,913', '131,930', '136,807', '153,350', '167,019', '125,451', '98,017', '93,365', '94,962', '107,913', '94,778', '97,633', '123,707', '142,525', '141,642', '150,415', '169,909', '167,519', '226,743', '228,336', '283,739', '272,117', '256,351', '103,019', '110,285', '91,232', '96,913', '99,178', '98,113', '96,408', '119,097', '129,469', '143,457', '166,909', '165,360', '165,928', '209,439', '212,848', '260,394', '293,916', '289,545', '230,410', 'NA', '468,347', '']]
['Alaska', ['', '', '', '', '', '', '392,528', '526,159', '649,106', '677,311', '655,967', '630,212', '626,782', '684,115', '1,010,285', '896,208', '1,102,033', '1,067,938', '810,178', '853,884', '801,044', '793,186', '848,608', '810,276', '723,567', '773,639', '864,334', '809,148', '633,412', '571,048', '562,877', '523,533', '425,629', '383,408', '341,853', '319,143', '375,695', '489,877', '516,508', '525,750', '489,460', '284,561', '248,119', '248,292', '169,381', '133,913', '131,930', '136,807', '153,350', '167,019', '125,451', '98,017', '93,365', '94,962', '107,913', '94,778', '97,633', '123,707', '142,525', '141,642', '150,415', '169,909', '167,519', '226,743', '228,336', '283,739', '272,117', '256,351', '103,019', '110,285', '91,232', '96,913', '99,178', '98,113', '96,408', '119,097', '129,469', '143,457', '166,909', '165,360', '165,928', '209,439', '212,848', '260,394', '293,916', '289,545', '230,410', 'NA', '468,347', '']]
['Alaska Onshore', ['', '', '', '', '', '', '392,528', '526,159', '649,106', '677,311', '655,967', '630,212', '626,782', '684,115', '1,010,285', '896,208', '1,102,033', '1,067,938', '810,178', '853,884', '801,044', '793,186', '848,608', '810,276', '723,567', '773,639', '864,334', '809,148', '633,412', '571,048', '562,877', '523,533', '425,629', '383,408', '341,853', '319,143', '375,695', '489,877', '516,508', '525,750', '489,460', '284,561', '248,119', '248,292', '169,381', '133,913', '131,930', '136,807', '153,350', '167,019', '125,451', '98,017', '93,365', '94,962', '107,913', '94,778', '97,633', '123,707', '142,525', '141,642', '150,415', '169,909', '167,519', '226,743', '228,336', '283,739', '272,117', '256,351', '103,019', '110,285', '91,232', '96,913', '99,178', '98,113', '96,408', '119,097', '129,469', '143,457', '166,909', '165,360', '165,928', '209,439', '212,848', '260,394', '293,916', '289,545', '230,410', 'NA', '468,347', '']]
['Alaska State Offshore', ['', '', '', '', '', '', '392,528', '526,159', '649,106', '677,311', '655,967', '630,212', '626,782', '684,115', '1,010,285', '896,208', '1,102,033', '1,067,938', '810,178', '853,884', '801,044', '793,186', '848,608', '810,276', '723,567', '773,639', '864,334', '809,148', '633,412', '571,048', '562,877', '523,533', '425,629', '383,408', '341,853', '319,143', '375,695', '489,877', '516,508', '525,750', '489,460', '284,561', '248,119', '248,292', '169,381', '133,913', '131,930', '136,807', '153,350', '167,019', '125,451', '98,017', '93,365', '94,962', '107,913', '94,778', '97,633', '123,707', '142,525', '141,642', '150,415', '169,909', '167,519', '226,743', '228,336', '283,739', '272,117', '256,351', '103,019', '110,285', '91,232', '96,913', '99,178', '98,113', '96,408', '119,097', '129,469', '143,457', '166,909', '165,360', '165,928', '209,439', '212,848', '260,394', '293,916', '289,545', '230,410', 'NA', '468,347', '']]
['Arkansas', ['', '', '', '', '', '', '392,528', '526,159', '649,106', '677,311', '655,967', '630,212', '626,782', '684,115', '1,010,285', '896,208', '1,102,033', '1,067,938', '810,178', '853,884', '801,044', '793,186', '848,608', '810,276', '723,567', '773,639', '864,334', '809,148', '633,412', '571,048', '562,877', '523,533', '425,629', '383,408', '341,853', '319,143', '375,695', '489,877', '516,508', '525,750', '489,460', '284,561', '248,119', '248,292', '169,381', '133,913', '131,930', '136,807', '153,350', '167,019', '125,451', '98,017', '93,365', '94,962', '107,913', '94,778', '97,633', '123,707', '142,525', '141,642', '150,415', '169,909', '167,519', '226,743', '228,336', '283,739', '272,117', '256,351', '103,019', '110,285', '91,232', '96,913', '99,178', '98,113', '96,408', '119,097', '129,469', '143,457', '166,909', '165,360', '165,928', '209,439', '212,848', '260,394', '293,916', '289,545', '230,410', 'NA', '468,347', '']]
['California', ['', '', '', '', '', '', '392,528', '526,159', '649,106', '677,311', '655,967', '630,212', '626,782', '684,115', '1,010,285', '896,208', '1,102,033', '1,067,938', '810,178', '853,884', '801,044', '793,186', '848,608', '810,276', '723,567', '773,639', '864,334', '809,148', '633,412', '571,048', '562,877', '523,533', '425,629', '383,408', '341,853', '319,143', '375,695', '489,877', '516,508', '525,750', '489,460', '284,561', '248,119', '248,292', '169,381', '133,913', '131,930', '136,807', '153,350', '167,019', '125,451', '98,017', '93,365', '94,962', '107,913', '94,778', '97,633', '123,707', '142,525', '141,642', '150,415', '169,909', '167,519', '226,743', '228,336', '283,739', '272,117', '256,351', '103,019', '110,285', '91,232', '96,913', '99,178', '98,113', '96,408', '119,097', '129,469', '143,457', '166,909', '165,360', '165,928', '209,439', '212,848', '260,394', '293,916', '289,545', '230,410', 'NA', '468,347', '']]
['California Onshore', ['', '', '', '', '', '', '392,528', '526,159', '649,106', '677,311', '655,967', '630,212', '626,782', '684,115', '1,010,285', '896,208', '1,102,033', '1,067,938', '810,178', '853,884', '801,044', '793,186', '848,608', '810,276', '723,567', '773,639', '864,334', '809,148', '633,412', '571,048', '562,877', '523,533', '425,629', '383,408', '341,853', '319,143', '375,695', '489,877', '516,508', '525,750', '489,460', '284,561', '248,119', '248,292', '169,381', '133,913', '131,930', '136,807', '153,350', '167,019', '125,451', '98,017', '93,365', '94,962', '107,913', '94,778', '97,633', '123,707', '142,525', '141,642', '150,415', '169,909', '167,519', '226,743', '228,336', '283,739', '272,117', '256,351', '103,019', '110,285', '91,232', '96,913', '99,178', '98,113', '96,408', '119,097', '129,469', '143,457', '166,909', '165,360', '165,928', '209,439', '212,848', '260,394', '293,916', '289,545', '230,410', 'NA', '468,347', '']]

In [7]:
#Put everything together for oil production, gas production, and gas flare
main_oil_url = 'https://www.eia.gov/dnav/pet/pet_crd_crpdn_adc_mbbl_m.htm'
main_ngf_url = 'https://www.eia.gov/dnav/ng/ng_prod_sum_a_EPG0_VGV_mmcf_a.htm'
main_ngp_url = 'https://www.eia.gov/dnav/ng/ng_prod_sum_a_EPG0_FGW_mmcf_a.htm'
pages = [main_oil_url, main_ngp_url, main_ngf_url]

for url in pages:
    r = requests.get(url)
    soup = BeautifulSoup(r.text, 'html.parser')
    for row in soup.find_all('tr', class_ = 'DataRow'):
        #State
        state = row.find(class_='DataStub1').text
        #Sublink for historical data
        sub_link = row.find('a')['href'][1:]
        sub_link = url[ : 27] + "'" + sub_link
        sub_page = requests.get(sub_link)
        sub_soup = BeautifulSoup(sub_page.text, 'html.parser')
        data = sub_soup.find_all(class_='B3')
        n = len(data)
        all_data = [sub_soup.find_all(class_ = 'B3')[i].text.strip() for i in range(len(data))]
        #out = zip(year, all_data)
        print([state, all_data])
        time.sleep(1.0)
    time.sleep(20)

['U.S.', []]
['PADD 1', []]
['Florida', []]
['New York', []]
['Pennsylvania', []]
['Virginia', []]
['West Virginia', []]
['PADD 2', []]
['Illinois', []]
['Indiana', []]
['Kansas', []]
['Kentucky', []]
['Michigan', []]
['Missouri', []]
['Nebraska', []]

KeyboardInterrupt: